In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('../data/James_Harden.csv',encoding='utf8')

table=pd.pivot_table(df,index=[u'对手',u'胜负'],values=[u'得分',u'助攻',u'篮板'],aggfunc={'得分':np.sum,"篮板":len},fill_value=0)

In [10]:
table

        得分  篮板
对手  胜负
76人 胜   27   1
    负   29   1
勇士  胜   27   1
国王  胜   27   1
太阳  胜   48   1
小牛  胜   29   1
尼克斯 胜   68   2
开拓者 胜   48   1
掘金  胜   21   1
步行者 胜   55   2
湖人  胜   36   1
灰熊  胜   67   2
    负   42   2
爵士  胜   85   2
猛龙  负   38   1
篮网  胜   37   1
老鹰  胜   29   1
骑士  胜   35   1
鹈鹕  胜   26   1
黄蜂  胜   27   1

In [7]:
table.query('对手 == ["灰熊"]')

      mean
        助攻    得分   篮板
对手 胜负
灰熊 胜   7.5  33.5  4.5
   负   8.0  21.0  4.5